  # HIDAPI/libusb
  SUBSYSTEMS=="usb", ATTRS{idVendor}=="3325", MODE:="0666"

  # HIDAPI/hidraw
  KERNEL=="hidraw*", ATTRS{idVendor}=="3325", MODE:="0666"